In [1]:
# https://huggingface.co/datasets/THUDM/LongBench/resolve/main/data.zip?download=true

import pandas as pd
import json

lines = []

with open(r'multi_news_e.jsonl') as f:
    lines = f.read().splitlines()

line_dict = [json.loads(line) for line in lines]

df = pd.DataFrame(line_dict)

,input,context,answers,length,dataset,language,all_classes,_id
0,,Passage 1:\nImage copyright Antarctic Gurkha I...,[While many people were unwrapping gifts on Ch...,951,multi_news_e,en,None,3cfe6d5139ea2e17d17b9c8d040c015c3db4936578091cf6
1,,"Passage 1:\nLAPORTE, Ind. (WOOD) — A man convi...",[A convicted killer who escaped from a Michiga...,1950,multi_news_e,en,None,3cdb9ee2c7cd7b125c274234e29c319b831ab836bd40616e
2,,Passage 1:\nPlease enable Javascript to watch ...,[Imagine looking outside and seeing over a doz...,637,multi_news_e,en,None,c954dc7458c76e0d160906b15f13f8c19cba5c0a7b15ce12
3,,Passage 1:\nA Palestinian teen was reportedly ...,[Mohammed Abu Khudair was heading to morning p...,2518,multi_news_e,en,None,bcbcfbff074db79f720de2185eecacc2835c5d38c01cc282
4,,Passage 1:\nBut to many across the country and...,[Portland's In Other Words bookstore is well k...,1017,multi_news_e,en,None,b9c07d16abc8c0cae817b5c196e3edb358f2dfe70d61b7b5
...,...,...,...,...,...,...,...,...
289,,Passage 1:\nNEW YORK--(BUSINESS WIRE)--21st Ce...,[Gretchen Carlson will take $20 million off Fo...,10405,multi_news_e,en,None,bc7d64cd697d6337ea796624b94229516b9ff841f4567750
290,,Passage 1:\nAstronomical gap between the pay o...,[For every dollar made by the average Facebook...,9104,multi_news_e,en,None,123cebeb23a94c7b3a290baaad191751d66935805a4d9e6e
291,,Passage 1:\nModern slot machines develop an un...,[About 1% of the US population (around 3.2 mil...,11553,multi_news_e,en,None,5a4359431d2bc605786270d1b27b3f58cd7c886e33b1e6ab
292,,Passage 1:\nUpdated | Older fathers appear to ...,[A new study suggests an upside for boys who h...,8472,multi_news_e,en,None,df71a9bea55b9c0d96718d6584509aae2aa3fdb35f702a03
293,,Passage 1:\nThese crawls are part of an effort...,[Hurricane Irma has made a second landfall in ...,11899,multi_news_e,en,None,8d238de9659ccb9a26289f9ae0026cff7ced000ef58fcda1

In [62]:
df_cut = df[(df['length'] > 700) & (df['length'] < 1300)].sort_values(by='length').reset_index()
df_cut = df_cut[['context', 'length']]
#df_cut['context'].replace('\n', '', inplace=True)

df_cut['context'] = df_cut['context'].str.replace('NEWLINE_CHAR', ' ')
df_cut['context'] = df_cut['context'].str.replace('\n', ' ')
df_cut

                                              context  length
0   Passage 1: Soldiers and rescue workers flat at...     731
1   Passage 1: Cigarette price hike risks black ma...     765
2   Passage 1: Ben Affleck took to his Facebook pa...     787
3   Passage 1: CLOSE Discover what made the Angry ...     788
4   Passage 1: All roads running through the Valle...     803
5   Passage 1: Starting in 1996, Alexa Internet ha...     836
6   Passage 1: Starting in 1996, Alexa Internet ha...     875
7   Passage 1: 'Put 'em in a coffin' prank damages...     890
8   Passage 1: Click to listen to Howard Stern spe...     934
9   Passage 1: Tweet with a location     You can a...     936
10  Passage 1: Image copyright Antarctic Gurkha Im...     951
11  Passage 1: Credit: (left) UZH; (right) 120/Cre...     978
12  Passage 1: MEXICO CITY (AP) — A species of sna...     999
13  Passage 1: McDonald’s should probably think ab...    1000
14  Passage 1: Tweet with a location     You can a...    1013
15  Passage 1: But to many across the country and ...    1017
16  Passage 1: Ursula Coyote for Netflix Hackers c...    1049
17  Passage 1: A rat infestation closed down a gov...    1067
18  Passage 1: Geneva (AFP) - Swiss authorities on...    1111
19  Passage 1: "What comforts me is that I too can...    1122
20  Passage 1: Queen Elizabeth II has stressed the...    1125
21  Passage 1: FILE - In this April 17, 2018 file ...    1133
22  Passage 1: LONDON (AP) — A Swedish doctor says...    1201
23  Passage 1: Shawn Inglima for New York Daily Ne...    1223
24  Passage 1: Owen Labrie, the former St. Paul’s ...    1231
25  Passage 1: LOS ANGELES (CBSLA) — Eleven-year o...    1254
26  Passage 1: Police fired warning shots to dispe...    1256
27  Passage 1: WE CHECKED THE SHERIFF'S OFFICE AND...    1292

In [67]:
df_cut.to_csv('./longbench_multinews_700to1300_len.csv', index=False, header=False)